:root {
  --green-main: #1db954;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

/* ===== BACKGROUND ===== */
body {
  min-height: 100vh;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.20),
      rgba(0, 0, 0, 0.40)
    ),
    url("../assets/game.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: flex-end;   /* botão embaixo */
  justify-content: center;
  padding-bottom: 80px;    /* distância da borda inferior */
}

/* ===== BOTÃO ===== */
.btn {
  padding: 22px 65px;
  border: none;
  border-radius: 8px;
  background: var(--green-main);
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.25s ease;
  text-decoration: none;
}

.btn:hover {
  background: #17a44b;
  transform: translateY(-3px);
}

.hero-actions {
  display: flex;
  gap: 25px; /* espaço entre botões */
}

/* container de telas */
.screen {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
}

/* inputs */
.input {
  width: 260px;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

/* ===== CARD FORM ===== */
.card {
  background: rgba(255, 255, 255, 0.95);
  padding: 35px;
  border-radius: 14px;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
}

/* título */
.card h2 {
  color: #0f3d2e;
  margin-bottom: 10px;
}

/* lista de salas */
.room-list {
  width: 100%;
  max-height: 120px;
  overflow-y: auto;
  background: #f4f6f8;
  border-radius: 8px;
  padding: 10px;
}

.room-list p {
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
}

.room-list p:hover {
  background: #e0e0e0;
}
